{{ use('frontend/widgets/NewsWidget') }}
{{ use('frontend/widgets/Advantages') }}
<div class="container">
    <nav class="breadcrumbs"><a class="breadcrumbs__item" href="{{ Url.home() }}">Главная</a><a class="breadcrumbs__item is--current" href="{{ Url.to('reset') }}">Восстановить пароль</a>
    </nav>
</div>
<section class="section section--page">
    <div class="container">
        <h2 class="section__title is--align-left">Восстановить пароль</h2>
        <div class="section__content">
            <form class="form row js-form-login" id="reset" action="/auth/sign-double" method="post">
                <div class="col col--6-of-12 col--s-12-of-12 col--m-6-of-12 col--l-6-of-12">
                    <div class="form__field is--required">
                        <label class="label">Ваш e-mail</label>
                        <input class="input" type="text" name="email">
                    </div>
                </div>

                <div class="col col--12-of-12 col--s-12-of-12 col--m-12-of-12 col--l-12-of-12">
                    <div class="form__action">
                        <button class="btn btn--primary btn--md" type="submit">Восстановить</button><span class="note note--success is--ml-20 js-answer-status"></span>
                    </div>
                </div>
            </form>
        </div>

    </div>
</section>
{{ advantages_widget() }}
{{ news_widget_widget() }}