{{ use('frontend/widgets/SLinkPager') }}
{{ use('frontend/widgets/Sbreadcrumbs') }}

<section class="section_crumds">
    <div class="container">
        {{ Sbreadcrumbs_widget({'links' : breadcrumbs}) }}
    </div>
</section>
<section class="section_lots">
    <div class="container">
        <header class="section__header section__header_catalog">
            <h2>Блог</h2>
        </header>
        <div class="row">
            <div class="col-lg-3 col-lg-push-9 col-md-3 col-md-push-9 col-sm-4 col-sm-push-8 col-xs-12">
                <div class="row">
                    <div class="col-sm-12 hidden-xs">
                        <img src="/img/banner1.jpg" alt="" class="img-responsive bananer">
                    </div>
                    <div class="col-sm-12 hidden-xs">
                        <img src="/img/banner2.jpg" alt="" class="img-responsive bananer">
                    </div>
                </div>
            </div>
            
            <div class="col-lg-9 col-lg-pull-3 col-md-9 col-md-pull-3 col-sm-8 col-sm-pull-4 col-xs-12">
                {% for post in posts %}
                    <article class="article_blog lot_active ad_my">
                       <div class="article__heading">{{ post.info.title | raw }}<time class="article__time" datetime="{{ post.humanDate }}">{{ post.humanDate }}</time>
                       </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <img src="{{ post.simg }}" alt="{{ post.info.title }}" class="img-responsive ad__img_my">
                            </div>
                            <div class="col-sm-8">
                                <p class="paragraph__blog">{{ post.info.short_description | raw }}</p>
                                <a href="{{ post.url }}" class="btn btn-primary btn-default">Подробнее</a>
                            </div>
                        </div>
                    </article>
                {% endfor %}
                
                <div class="pagination b-pagination_v2 b-pagination__blog clearfix">
                    {{ s_link_pager_widget({
                        'pagination' : pages,
                        'maxButtonCount' : 5,
                        'prevPageLabel' : 'Назад',
                        'nextPageLabel' : 'Вперед',
                        'options' : {
                            'class' : '',
                        },
                        'linkOptions' : {
                            'class' : '',
                        },
                    }) }}
                </div>
            </div>
        </div>
    </div>
</section>